<div>
    <div ng-repeat="project in item.projects">
        <div style="height: 50px; background:white; margin-bottom:10px; display:flex;">
            <div>
                <!-- TODO replace with transclude so it doesn't request garbage  -->
                <img src="themes/practical/resources/images/{{project.image}}.png" />
            </div>
            <div style="flex-grow:2;">
                <div class="text-center">
                    <div>Project Title</div>
                    {{project.title}}
                </div>
            </div>
            <div style="flex-grow:2;">
                Last updated: {{project.updated | date:'medium' }}
            </div>

            <div style="flex-grow:2;">
                {{project.time}}
            </div>
            <div style="flex-grow:2;">
                {{ project.comments }}
            </div>
            <div style="flex-grow:2;">
                  <md-progress-linear md-mode="determinate" value="{{project.completed}}"></md-progress-linear>
            </div>
        </div>
    </div>
</div>
